
@keyframes slideInLeft{
    to{
        transform: translateX(0);
    }

    from{
        transform: translateX(-100px);
    }

}


@keyframes slideInRight{
    to{
        transform: translateX(0);
    }

    from{
        transform: translateX(100px);
    }

}


@keyframes rotate{
    to{
        transform: rotate(0);
    }

    from{
        transform: rotate(360deg);
    }
}


:root{
    
    --primary-color: #007585;
    --second-color: #fff;
    --footer-text-color: #000;
}


.dark__theme{
    --primary-color: #5f0085;
    --second-color: #000;
    --footer-text-color: #fff;
}






body{
    height: 100%;
    background-color: var(--primary-color);
    padding: 0;
    margin: 0;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}


.header__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
}

.header__logo{
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    animation: slideInLeft 3s;
}

.header__images{
    margin-top: 70px;
    width: 150px;
    height: 150px;
    animation: rotate 5s infinite ;
}


.header__title{
    padding-top: 20px;
    font-size: 24px;
    max-width: 140px;
}

.bx__registered{
    display: flex;
    flex-direction: row;
    margin-top: 105px;
    font-size: 22px;
    cursor: pointer;
    animation: slideInRight 3s;
}

.header__sign_up{
    padding-left: 35px;
}

.header__sign_in:hover, .header__sign_up:hover{
    text-decoration: underline #fff;
}






.main__wrapper{
    padding-top: 120px;
    display: flex;
    justify-content: space-evenly;
    
}

.main__form{
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    color: #000;
}

.input__text{
    width: 560px;
    height: 70px;
    border: solid #000;
    margin: 0px 0px 20px 0px;
    background-color: #fff;
    font-size: 45px;
}

button{
    display: inline-block;
    font-size: 36px;
    width: 91px;
    height: 91px;
    border-radius: 100%;
    background-color: #fff;
    color: #000;
    border: none;

    transition: ease-out .5s;
}

.main__button:hover{
    background-color: #000;
    color: #fff;
    border: none;
    
}


.main__button-action{
    background-color: #EC9704;
    color: #fff;
}

.main__button-action:hover{
    background-color: #000;
    color: #fff;
    border: none;
}

.form__row{
    padding: 0px 0px 20px 0px;
}




footer{
    height: 151px;
    background-color: var(--second-color);
    padding-top: 15px;
}

.footer__wrapper{
    display: flex;
}

.footer__title{
    font-size: 24px;
    max-width: 140px;
    color: var(--footer-text-color);
    padding-top: 35px;
    margin: 0 auto;
}

.theme__icon{
    width: 70px;
    cursor: pointer;
}


@media (max-width: 425px) {
    .container{
        max-width: 425px;
    }



    .bx__registered{
        font-size: 18px;
        margin-top: 120px;
    }

    .header__images{
        display: none;
    }

    .main__form{
        max-width: 425px;
    }

    .main__button,
    .main__button-action{
        width: 65px;
        height: 65px;
    }


    .input__text{
        width: 400px;
        height: 55px;
    }
}

@media (max-width: 375px) {
    .container{
        max-width: 375px;
    }


    .bx__registered{
        font-size: 16px;
        margin-top: 120px;
    }

    .main__form{
        max-width: 375px;
    }

    .main__button,
    .main__button-action{
        width: 55px;
        height: 55px;
        font-size: 24px;
    }

    .input__text{
        width: 350px;
        height: 45px;
    }


    .header__sign_up{
        padding-left: 15px;
    }
}


@media (max-width: 320px){
    .container{
        max-width: 320px;
    }


    .bx__registered{
        font-size: 14px;
        margin-top: 120px;
        
    }

    .main__form{
        max-width: 320px;
    }

    .main__button,
    .main__button-action{
        width: 48px;
        height: 48px;
        font-size: 24px;
    }

    .input__text{
        width: 310px;
        height: 35px;
    }


    .header__sign_up{
        padding-left: 10px;
    }

    .header__image{
        width: 50px;
    }

    .header__title{
        font-size: 18px;
    }

    .header__logo{
        margin-top: 80px;
        margin-right: 10px;
    }
}